/********** DISTANCE **********/

.btn-distance {
  background-color: #32A032 !important;
  width: 5.75em;
  border-color: #000;
}

.btn-distance.inactive {
  color: #000;
  opacity: 25%;
}

.btn-distance:hover,
.btn-distance.highlighted {
  color: #fff;
  opacity: 100%;
}

.btn-distance:active:focus {
  color: #fff;
  opacity: 70%;
}

/********** VBAT **********/

.btn-vbat {
  background-color: #D07020 !important;
  width: 5.75em;
  border-color: #000;
}

.btn-vbat.inactive {
  color: #000;
  opacity: 25%;
}

.btn-vbat:hover,
.btn-vbat.highlighted {
  color: #fff;
  opacity: 100%;
}

.btn-vbat:active:focus {
  color: #fff;
  opacity: 70%;
}

/********** WIFI **********/

.btn-wifi {
  background-color: #4382cf !important;
  width: 5.75em;
  border-color: #000;
}

.btn-wifi.inactive {
  color: #000;
  opacity: 25%;
}

.btn-wifi:hover,
.btn-wifi.highlighted {
  color: #fff;
  opacity: 100%;
}

.btn-wifi:active:focus {
  color: #fff;
  opacity: 70%;
}